body {
  margin: 0;
  font-family: 'Georgia', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1a1a1a;
  color: #fff;
}

* {
  box-sizing: border-box;
}
